.font-google-sans {
  font-family: "Google Sans", sans-serif;
}

.font-google-sans-mono {
  font-family: "Google Sans Mono", sans-serif;
}

.font-google-sans-text {
  font-family: "Google Sans Text", sans-serif;
}

.rounded {
  border-radius: 999em;
}
